.main-footer {
    border: solid;
    border-image-slice: 180 0 0 0;
    border-image-width: 40px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-outset: 36px 0px 0px 0px;
    border-image-source:url('/res/png/footertop.png');
    position: relative;

}

.footer-background {
    background-color: #000000;
    padding: 4em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, min-content);
    color: white;
    text-align: center;
}

.footer-background svg {
    color: white;
}

.footer-logo {
    width: 10vw;
    margin: 0 auto 0.5em auto;
}

.footer-contact-info { 
    grid-area: 1 / 2 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-contact-info p {
    margin: 0.5rem auto;
}

.footer-links a {
    color: white;
    height: 2vh;
    font-size: 2em;
    text-decoration: none;
    margin: 1em 1em;
}

.left-footer-illustration { grid-area: 2 / 1 / 3 / 2; }
.right-footer-illustration { grid-area: 2 / 3 / 3 / 4; }

.left-footer-illustration, .right-footer-illustration {
    width: 10vw;
    margin: auto;
}

@media (max-width: 711px) {

    .main-footer {
        z-index: 10;
    }

    .footer-logo {
        width: 20vw;
    }

    .footer-background {
        padding: 2em;
    }

    .footer-contact-info {
        grid-area: 1 / 1 / 4 / 4;
    }

    .left-footer-illustration, .right-footer-illustration { 
        display: none
    }
}

@media print {
    .main-footer {
      display: none;
    }
}