.main-header {
    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;    
    height: min-content;
}

.logo { 
    grid-area: 1 / 2 / 2 / 3;
    height: 15vh; 
    margin: 20px auto;
}

.nav-items { 
    grid-area: 2 / 1 / 3 / 4; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0em 1em 1.5em 1em;
    list-style-type: none;

}

.nav-items a {
    margin-top: 0.6rem;
    padding: 0.7em 1em;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}


.nav-items a:hover {
    background-color: white;
    cursor: pointer;
}

.nav-items a:hover li {
    color: black;
}

.social-media-icons {  
    grid-area: 1 / 3 / 1 / 3; 
}

.social-media-icons a  {
    color: white;
    height: 2vh;
    font-size: 2em;
    float: right;
    margin-right: 3vw;
    margin-top: 2vw;
    text-decoration: none;
}

@media (max-width: 711px) {
    .social-media-icons a  {
        margin-right: 6vw;
        margin-top: 6vw;
    }
}

@media print {
    .main-header {
      display: none;
    }
}