body {
  overflow-y: hidden;
}

.wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
  }
        
  .section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-2px) scale(2);
    background-size: 100%;
    z-index: -1;
  }

  .parallax {
    color: white;
  }
  
  .static {
    border-top-style: solid;
    color: #12171A;
  }
  
  .static-background {
    background-color: #41695B;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bg1::after {
    background-image: url('/res/jpg/Sushi-TokyoDrift@TheStormFactoryNL_7.jpg');
    background-size: cover;
  }
  
  
  .photo-overlay {
      padding: 2em;
      background-color: black;
      opacity: 70%;
  }
  
  .main-content-1 {
    height: min-content;
    border-image-slice: 160 0 0 0;
    border-image-width: 40px 0px 0px 0px;
    border-image-repeat: stretch stretch;
    border-image-outset: 36px 0px 0px 0px;
    border-image-source:url('/res/png/menutopborder.png')
  }

.menu-card {
    height: min-content;
    width: 80%;
    margin: 4em auto;
    border-image-slice:53 53 53 53;
    border-image-width:20px 20px 20px 20px;
    border-image-outset:18px 17px 17px 17px;
    border-image-repeat:stretch stretch;
    border-image-source:url('/res/png/menucard.png');
    border-style: solid;
}

.menu-background {
      background-color: white;
      width: 100%;
      height: 100%;
      padding-bottom: 3em;
  }

.menu-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2em;
    padding: 3em 2em 0em 2em;
}

.menu-selector button {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'bruzhregular', cursive;
    font-size: 2.5rem;
    letter-spacing: .1rem;
}

.menu-selector button:hover {
    text-decoration: underline;
    font-weight: 700;
    cursor: pointer;
}

.menu-selector button:focus {
    text-decoration: underline;
    font-weight: 700;
    outline: none;
}

.menu-content {
    display: flex;
    flex-direction: column;
}

#drinks {
    display: none;
}

.menu-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 2em;
}

.reverse {
  flex-direction: row-reverse;
}

.menu-section .title {
  margin: auto;
  max-width: 10rem;
  background-color: #12171A;
  color: white;
  text-align: center;
  padding: 1rem;
  transform: rotate(270deg);
  transform-origin: center;
}

.reverse .title {
  transform: rotate(90deg);
}

/* import the custom font "bruzh" - the path will need to be modified based on file structure in Django */
@font-face {
  font-family: 'bruzhregular';
  src: url('../res/fonts/bruzh-webfont.svg#bruzhregular') format('svg'),
  url('../res/fonts/bruzh-webfont.woff2') format('woff2'),
  url('../res/fonts/bruzh-webfont.woff') format('woff'),
  url('../res/fonts/bruzh-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.menu-section .title h3 {
  font-family: 'bruzhregular', cursive;
  font-size: 2.5rem;
  letter-spacing: .1rem;
  margin: 0;
}

.menu-section .items {
  display: flex;
  flex-grow: 2;
  overflow-y: auto;
}

.menu-section .small-section-one {
  flex-direction: row;
  border: none;
} 

.menu-section .small-section-one .menu-item {
  margin: 0;
  padding: 0 2em;
} 

.border-right-item {
  border-right: 5px dashed #000000;
}

.menu-section .main-section {
  flex-wrap: wrap;
  flex-direction: row;
  border: 6px double black;
} 

.menu-section .main-section .column{
  display: flex;
  flex-direction: column;
  width: 50%;
} 

.menu-section .small-section-two {
  flex-direction: row;
  border: 4px dotted black;
} 

.menu-section .small-section-two div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
} 

.menu-section .small-section-two div .menu-item {
  margin: 1em auto 1em 2em;
} 

.menu-item {
    margin-bottom: 1em;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    width: 80%;
}

.menu-item p {
    margin: 0.3rem auto 0.3rem 0;
}

.menu-item .name {
    font-size: 1.3rem;
    font-weight: bold;
}

.menu-content img {
    width: 5em;
    margin: 2em;
}

.logo-print {
  display: none;
}

.calling-card {
  display: none;
}
  
    
  
  /* mobile */
  @media screen and (max-width: 711px) {
    .wrapper {
      perspective: none;
    }
    .static {
      z-index: 2;
      position: relative;
      width: 100%;
    }
  
    .parallax {
      height: 40vh;
    }
  
    .static {
      height: min-content;
    }

    .menu-selector {
        margin-bottom: 0px;
    }

    .menu-card {
        margin: 2em auto;
    }

    .menu-section {
      flex-direction: column;
      align-items: center;
      margin: 2em 1em;
    }

    .menu-section .title {
      transform: none;
      margin: 1em auto 2em auto;
    }

    .menu-section .items {
      flex-direction: column;
      flex-wrap: nowrap;
    }

    .menu-section .main-section .column {
      width: 100%;
    }

    .menu-item {
      width: 80%;
    }

    .menu-content img {
      margin: 2em auto;
    }
  
  }


  @media print {

    .menu-section .title {
      background-color: #12171A; 
    }

    body {
      overflow-y: visible;
    }

    .menu-card {
      border: none;
    }
    
    .wrapper {
        overflow-x: visible;
        overflow-y: visible;
      }

    .menu-section .items {
      overflow-y: visible;
    }

    .parallax {
      display: none;
    }

    .static-background {
      background-color: white;
    }

    .static {
      border: none;
    }

    .menu-selector {
      display: none;
    }

    .logo-print {
      display: block;
      margin: 0 auto 2em auto;
      width: 7em;
      height: 7em;
    }

    .calling-card {
      display: inline-block;
      text-align: right;
      font-size: .7rem;
    }
  }
  
  